<?xml version="1.0" encoding="utf-8"?>
   <odoo>
       <data>
           <menuitem id="menu_summary_report"
              name="Report"
              parent="passenger_service_charges.menu_passenger_service_root"
              sequence="100"/>
           <!-- Parent menu item for Flight Management -->
           <menuitem id="menu_flight_management"
                     name="Airlines &amp; Flights"
                     parent="base.menu_administration"
                     sequence="1"/>

             <!-- Menu item for Airlines -->
           <menuitem id="menu_airline"
                     name="Airlines"
                     parent="menu_flight_management"
                     action="action_airline"
                     sequence="10"/>

           <!-- Menu item for Flight Numbers -->
           <menuitem id="menu_flight_no"
                     name="Flights"
                     parent="menu_flight_management"
                     action="action_flight_no"
                     sequence="20"/>
         
       </data>
   </odoo>